* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #070357 !important;
}

.container h1 {
    padding: 60px 0;
    color: #fff;
    font-size: 44px;
    text-align: center;
}
.play-btn
{
    width: 60px;
    position: absolute;
    left: 30%;
    top: 56%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.small-image .play-btns
{
    width: 20px;
    position: absolute;
    left: 17%;
    top: 52%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.video-player
{
    width: 81%;
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    display: none;
}
video:focus
{
    outline: none;
}
.close-btn
{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    cursor: pointer;
}